html, body {
  margin:0;
  padding:0;
} 

#content{
  width: 100%;
  height: 1000px;
  position: absolute;
  background-color: #b3ccff ;
  
  z-index:-3;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#content:after {
  content:'';
  z-index:-2;
  position:absolute;
  left:0; top:0;
  width:100%; 
  height:100%;
  display:inline-block;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(280,280,280,0.9) 100%); /* W3C */
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
/* top panel and Moving picture */
#panelHolder{
  position: relative;
  float:left;
  z-index:-1;
  display:block;
  background: url("../img/CB.jpg");
  width: 100%;
  height: 220px;
} 

#panelHolder:after {
  content:'';
  z-index:1;
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: linear-gradient(to bottom right, rgba(280,280,280,0.3) 0%, rgba(280,280,280,0.99) 100%); /* W3C */
}

#photoHolder{
  z-index:2;
  display:block;
  margin: 27px 1050px;
  font-size: 20px;
  position: relative;
  float:left;
  width: 132px;
  height: 164px; 
}
 
.photoFrame{
  margin: -8px;
  width: 100%;
  height: 100%;  
  position: absolute;
  border: #006080 8px solid;
  border-radius: 3px;
}
.photo{
  background: url("../img/myPhoto.jpg");
  margin: 0;
  position: absolute;
  width: 130px;
  height: 162px; 
  border: black 1px solid;  
}
 

/* ---------------- */
#table {
  position: relative;
  float:left;
  margin: 0 5px;
  width: 200px;
  height: 700px;

  border-radius: 10px;
}
#clockHolder {
position: relative;
  margin: 0;
  padding: 0;
  font-size: 30px; /* This controls the size. */
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  float:left;
  width: 4.8em;
  height: 5.8em;
  perspective: 300px;
}
#clockHolder img { 
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 10px;
  position: absolute;
  border: black 1px solid; 
}
#clockHolder h1 {
  font-size: 0.6em;
  font-weight: bold;
  margin: 0 1.1em ;
  padding: 0;
  position: absolute;
}
.colorTable {
  padding: 4px 0 ;
  margin: -1.2em 0;
  display: inline-block;
  float:left;
  text-align: left; 
  font-size: 0.55em;
  width: 100%;
  height: 40%;
  border-radius: 10px;
  background: rgba(80,80,80,0.8);
  position: relative;
}
.colorTable p{
  font-size: 0.95em;
  margin: -2px 5px;
  position: relative;
  float:left;  
}
.colorBox{
 padding:  1px;
 line-height: 1em;
 font-size: 0.5em;
 margin: 50px 0;
 width: 1.4em;
 height: 1em;
 border:  0.35em solid black; 
 border-radius: 7px;
 position: absolute;
}
.gradLine{
 width: 98%;
 height: 0.6em;
 border:  0.07em solid black; 
 margin: -10px 1px;
 background: linear-gradient(to right, #200000 , #FF0000);
 position: absolute;
}

.clockRing {
  padding: 0;
  margin: 0.9em 6px;
  display: inline-block;
  float:left;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1.2em;
  background: #606060;
  position: relative;
}
.clockRing p{
  font-size: 0.5em;
  margin-left: 0.64em;
  margin-top:0.49em;
}
.ring {
  width: 0.8em;
  height: 0.8em;
  border: 0.2em solid black;
  border-radius: 1em;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
}


.ringBack {
  width: 0.8em;
  height: 0.8em;
  border: 0.2em solid black;
  border-radius: 1em;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(225deg);
  position: absolute;

}

.ringFront {
  width: 0.6em;
  height: 0.6em;
  border: 0.3em solid #606060;
  border-radius: 1em;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
  position: absolute;

}

/*  ------------------------------------------
main from router
and menu component 
*/

#resumeHolder{ 
    font-size: 23px; /* This controls the size. */
    margin: -20px 5px;
    position:relative;
    float: left;
    width: 95%;
    width: 100%;
    color: #333333;
    font-family: "Impact", "Charcoal", sans-serif;
}

#skills img{
  position: absolute;
  margin: 30px 260px;
  transform: rotateY(180deg);
}
#skills div{
  position: absolute;
  margin: 10px -5px;
  text-align: right;
  line-height: 25%;
  font-size:150%;
}

main{  
  margin: 20px 60px;
  line-height: 140%;
  position:relative;
  float: left;
}

#subContent{
  position: absolute;
  margin: 50px 300px;
 
}

.menu{ 
    position:absolute;
    margin: 30px -40px;
    line-height:30px;
    vertical-align:middle;    
}
 
.menu ul{
    list-style:none;
    display: inline-block;
}

.menu ul li{
    width: 200px;
    display: inline-block;
    padding: 10px 30px;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;
    transition:0.7s;
}

.menu ul li:hover{
    background-color:#beecea;
}

.menu ul li.focused{
    color:#fff;
    background-color:#41c7c2;
}

  #mainMenu{
  margin: -70px 20px;
}

#mainMenu ul li{
   width: 100px;
    padding: 10px 30px;
}

.proj{
  width: 1000px;
  
}
.projImg{
    margin: 10px;
   float: left;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 5px #aaa;
   cursor: default;

}
/*-------------------*/

.view {
   width: 400px;
   height: 250px;
   margin: 10px;
   float: left;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 5px #aaa;
   cursor: default;
}

.view .mask, .view .conInfo {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view img {
   display: block;
   position: relative;
   
   height: 100%;
}
.mask img {
   width:20px;
   height:20px;
}



.effect img {
   opacity:1;
   transform:scale(1,1);
   transition: all 0.2s ease-in;
}

.effect .mask {
   opacity:0;
   overflow:visible;
   border-color:rgba(0,0,0,0.7) transparent transparent transparent;
   border-style:solid;
   border-width:200px;
   width:0;
   height:0;
   transform:translateY(-125px);
   transition: transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
}

.effect .info {

   font-style: 40px;
   color: rgba(250,250,250, 0.7);
   opacity:0;
   transform:translateY(-125px);
   transition: transform 0.4s ease-in, opacity 0.6s ease-in-out;
}

.effect:hover img {
   opacity:0.7;
   transform:scale(1.4,1.4);
}

.effect:hover .mask {
   opacity: 1;
   transform: translateY(0px);
}

.effect:hover .info {
   opacity:1;
   transform:translateY(100px);
}